body{
    background-color: powderblue;
    color: white;
}

video {
    width:100%;
    height: auto;
    position:fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

#video {
    background-color: rgba(0, 0, 0, 0.46);
    z-index: -1;
    width:100%;
    margin-top: -90px;
    height: 800px;

}

.content-container {
    background-color: rgba(0, 0, 0, 0.46);
    padding-bottom: 20px;
    border-radius: 10px;

}

.navbar {
    background-color: transparent;
    border-color: transparent;
    z-index: 2;
}

.headerHero {
    padding: 275px 0 210px;
    z-index: 2;
}

#home-sign-in-btn, #home-view-ads-btn {
    min-width: 200px;
}

#home-sign-in-btn {
    margin-left: 40px;
    background-color: khaki;
}

.headerHero h1 {
    color: white;
    perspective: 800px;
    font-size: 66px;
}

.ad-container, p {
    background-color: khaki;
    padding-top: 10px;
    margin-top: 10px;
    margin-right: 10px;
    width: 95%;
    border-radius: 10px;
}

h1{
    color: white;
}

.headerHero h3 {
    color: powderblue;
}

h3 {
    color: #080808;
}

p {
    color: navy;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover , .navbar-inverse .navbar-brand:hover {
    color: khaki;
}

a {
    color: navy;
}
